@page
@inject Services.Database DB
@model ProvisionPal.Pages.FormModel
@using System.Data.SqlClient
@using Microsoft.Extensions.Primitives
@using ProvisionPal.Classes

@{
    Guid FormID = Guid.Empty;
    Guid RequestID = Guid.Empty;
    string Description;
    Dictionary<Guid, string> Parameters = new();
    Dictionary<Guid, string> Permissions = new();
    List<Guid> ParamIDs = new();
    List<Guid> SgIDs = new();
    bool AllValid = true;
    if (Request.RouteValues["FormID"] != null) FormID = Guid.Parse((string)Request.RouteValues["FormID"]);
    if (Request.RouteValues["RequestID"] != null) RequestID = Guid.Parse((string)Request.RouteValues["RequestID"]);
    try
    {
        DB.Connection.Open();
        SqlCommand cmd = DB.Connection.CreateCommand();
        cmd.Parameters.AddWithValue("@REQID@", RequestID);
        if (RequestID != Guid.Empty)
        {
            cmd.CommandText = "SELECT FormID FROM Requests WHERE RequestID = @REQID@";
            object val = cmd.ExecuteScalar();
            if (val == null)
            {
                Response.Redirect("/Error/RequestNotFound");
                return;
            }
            else
            {
                FormID = (Guid)val;
            }
        }
        cmd.Parameters.AddWithValue("@FORMID@", FormID);
        cmd.CommandText = "SELECT Name, Description FROM Forms WHERE FormID = @FORMID@";
        SqlDataReader reader = cmd.ExecuteReader();
        if (!reader.HasRows)
        {
            Response.Redirect("/Error/FormNotFound");
            return;
        }
        reader.Read();
        ViewData["Title"] = reader.GetString(0);
        Description = reader.GetString(1);
        reader.Close();
        cmd.CommandText = "SELECT ParameterID FROM FormXRefParameters WHERE FormID = @FORMID@ ORDER BY [Order] ASC";
        reader = cmd.ExecuteReader();
        while (reader.Read()) ParamIDs.Add(reader.GetGuid(0));
        reader.Close();
        cmd.CommandText = "SELECT ScriptGroupID FROM ScriptGroups WHERE ScriptGroupID IN (SELECT ScriptGroupID FROM FormXRefScriptGroups WHERE FormID = @FORMID@) ORDER BY Name ASC";
        reader = cmd.ExecuteReader();
        while (reader.Read()) SgIDs.Add(reader.GetGuid(0));
    }
    finally
    {
        DB.Connection.Close();
    }
    if (Request.Method == "POST")
    {
        foreach (KeyValuePair<string, StringValues> kvp in Request.Form)
        {
            if (kvp.Key.StartsWith("PARAM-") && Guid.TryParse(kvp.Key.Replace("PARAM-", ""), out Guid paramid))
            {
                if (ParameterUtil.Validate(DB, paramid, kvp.Value[0]))
                {
                    Parameters.Add(paramid, kvp.Value[0]);
                }
                else
                {
                    AllValid = false;
                    Parameters.Add(paramid, "INVALID");
                }
            }
            if (kvp.Key.StartsWith("PERM-") && Guid.TryParse(kvp.Key.Replace("PERM-", ""), out Guid permid))
            {
                Permissions.Add(permid, kvp.Value[0]);
            }
        }
        if (AllValid)
        {
            if (RequestID == Guid.Empty) RequestID = Guid.NewGuid();
            FormUtil.Submit(DB, RequestID, FormID, User, Parameters, Permissions);
            Response.Redirect("/Request/" + RequestID.ToString());
        }
    }
    else
    {
        if (RequestID != Guid.Empty)
        {
            FormUtil.Read(DB, RequestID, out Parameters, out Permissions);
        }
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="py-5 text-center">
            <i class="bi bi-file-text fs-1 text-primary"></i>
            <h2>@ViewData["Title"]</h2>
            <p class="lead">@Description</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <form id="mainForm" class="col-lg-8" method="post">
            <div class="modal fade" id="permsModal" tabindex="-1" aria-labelledby="permsModalLbl" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="permsModalLbl">
                                <i class="bi bi-ui-checks"></i>
                                <span>Select permissions</span>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-header">
                            <div class="input-group w-100">
                                <span class="input-group-text"><i class="bi bi-filter"></i></span>
                                <input id="permsFilter" type="text" class="form-control" placeholder="Filter" aria-label="Filter">
                            </div>
                        </div>
                        <div class="modal-body p-0">
                            <div class="list-group list-group-flush" id="permsList">
                                @foreach(Guid sgID in SgIDs)
                                {
                                    string val = null;
                                    Permissions.TryGetValue(sgID, out val);
                                    <component
                                        type="typeof(Shared.Components.SQL.Permission)"
                                        render-mode="Static"
                                        param-ScriptGroupID="sgID"
                                        param-Value="val"
                                    />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if(HttpContext.Request.Method == "POST")
            {
                if (AllValid)
                {
                    <div class="alert alert-success" role="alert">
                        <i class="bi bi-emoji-sunglasses fs-4 align-middle me-2"></i>
                        <span class="align-middle">
                            <b>This form has been submitted!</b>
                            <i>If a mistake was made, please correct it below and re-submit the form.</i>
                        </span>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <i class="bi bi-exclamation-circle fs-4 align-middle me-2"></i>
                        <span class="align-middle">
                            <b>Un-expected input: </b>
                            Please correct the highlighted fields below.
                        </span>
                    </div>
                }
            }
            <div class="row">
                <h4 class="p-2">
                    <i class="bi bi-input-cursor-text"></i>
                    <span>Parameters</span>
                </h4>
            </div>
            <div class="row">
                @foreach(Guid paramID in ParamIDs)
                {
                    string val = null;
                    Parameters.TryGetValue(paramID, out val);
                    <div class="col-md-6 p-2">
                        <component
                            type="typeof(Shared.Components.SQL.Parameter)"
                            render-mode="Static"
                            param-ParameterID="paramID"
                            param-Value="val"
                        />
                    </div>
                }
            </div>
            <div class="row justify-content-between">
                <h4 class="p-2 col-auto">
                    <i class="bi bi-key"></i>
                    <span>Permissions</span>
                </h4>
                <div class="p-2 col-auto">
                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#permsModal">
                        <i class="bi bi-node-plus"></i> Add
                    </button>
                </div>
            </div>
            <div class="row">
                <li id="permLiTemplate" class="list-group-item d-flex justify-content-between align-items-center d-none">
                    <span>...</span>
                    <span role="button" class="ms-auto text-primary bi bi-x-circle" title="Remove permission."></span>
                </li>
                <ul id="permMiniList" class="p-2 list-group d-none"></ul>
                <div id="permMiniMessage" class="p-2 user-select-none">
                    <div class="card bg-light">
                        <div class="card-body text-center text-secondary">
                            <i class="bi bi-exclamation-circle fs-4 align-middle m-1"></i>
                            <span class="align-middle">No permissions selected yet, press the "Add" button above.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col p-2">
                    <button class="w-100 btn btn-outline-primary" type="submit">
                        <i class="bi bi-check2-circle"></i>
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>