<select name="@Name" class="form-select">
    <option value="">Select a @Label</option>
    @foreach(string value in Values)
    {
        <option value="@value">@value</option>
    }
</select>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Value { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string[] Values { get; set; }
}